process-api/src/main/mule/account-aggregator-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- Listener config (this API) -->
    <http:listener-config name="process-api-listener"
                          doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <!-- Request configs for each System API -->
        <http:request-config name="currency-api"
                         doc:name="Currency System API">
        <http:request-connection host="grivera-currency-api-wczga1.5sc6y6-2.usa-e2.cloudhub.io"
                                 port="443"
                                 protocol="HTTPS" />
    </http:request-config>

    <http:request-config name="erp-api"
                         doc:name="ERP System API">
        <http:request-connection host="grivera-erp-api-wczga1.5sc6y6-3.usa-e2.cloudhub.io"
                                 port="443"
                                 protocol="HTTPS" />
    </http:request-config>

    <http:request-config name="salesforce-api"
                         doc:name="Salesforce System API">
        <http:request-connection host="grivera-salesforce-api-wczga1.5sc6y6-1.usa-e2.cloudhub.io"
                                 port="443"
                                 protocol="HTTPS" />
    </http:request-config>


    <flow name="account-360-flow">
        <http:listener config-ref="process-api-listener"
                       path="/api/account-360/{accountName}"
                       doc:name="GET /api/account-360/{accountName}"
                       allowedMethods="GET" />

        <scatter-gather doc:name="Scatter-Gather">
            <route>
                <http:request config-ref="salesforce-api"
                              method="GET"
                              path="/salesforce/account/{accountName}"
                              doc:name="Salesforce System API">
                    <http:uri-params>
                        #[{ "accountName": attributes.uriParams.accountName }]
                    </http:uri-params>
                </http:request>
            </route>
            <route>
                <http:request config-ref="erp-api"
                              method="GET"
                              path="/erp/orders/{accountName}"
                              doc:name="ERP System API">
                    <http:uri-params>
                        #[{ "accountName": attributes.uriParams.accountName }]
                    </http:uri-params>
                </http:request>
            </route>
            <route>
                <http:request config-ref="currency-api"
                              method="GET"
                              path="/currency/rate"
                              doc:name="Currency System API" />
            </route>
        </scatter-gather>

        <ee:transform doc:name="Merge into Account 360">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

var sfData = payload."0".payload
var erpData = payload."1".payload
var currencyData = payload."2".payload

var rate = currencyData.rates.USD default 1.0

var orders = erpData.orders default []

var totalRevenue = sum(orders.totalValueUSD default [0])

---
{
    account: {
        name: sfData.account.name,
        industry: sfData.account.industry,
        supportTier: sfData.account.supportTier,
        csm: sfData.account.csm,
        renewalDate: sfData.account.renewalDate
    },
    opportunity: sfData.opportunity,
    orders: orders,
    currencyRate: {
        from: "EUR",
        to: "USD",
        rate: rate
    },
    summary: {
        totalOrders: sizeOf(orders),
        totalRevenueUSD: totalRevenue
    }
}
                ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
